body{
    background-color: rgb(8, 61, 8);
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-align: center;
}
h1{
    color : gold;
    font-size: 70px;
    margin-top: 30px;
}
p{
    margin-top: 35px;
    color: white;
    font-size: 26px;
}

p1{
    text-align: right;
}
#Rules{
    margin-top: 35px;
    font-size: 22px;
    text-align:left;
    margin-left: 10px;
}
#rule{
    margin-left: 30px;
    margin-top: -18px;
    color: gold;
    
}
#message-el {
    font-style: italic;
    font-size: 30px;
}
button{
    color : rgb(8, 61, 8);
    background-color: rgb(190, 158, 13);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 6cm;
    font-size: 30px;
    font-family: 'Trebuchet MS';
    border-radius: 11px;
    margin-top: 30px;
    font-weight: bolder;
    box-shadow: 5px 4px rgb(1, 34, 1);
    border-style: inherit;
}   
